.navbar-brand {
    font-size: 40px;
    margin-left: 850px;
}

/* .container{
    padding: 1em 20px 2em; 
} */

/* .index{
   padding-right: 50px;
} */

/* #button-addon2{
    margin-right: 100px; 
} */