.navbar-brand {
    font-size: 40px;
    margin-left: 850px;
}

.list-group-item{
    padding-left: 300px;
}

/* .index{
   padding-right: 50px;
} */

/* #button-addon2{
    margin-right: 100px; 
} */